<!DOCTYPE html>
<html>
<head>
  <title>Boardbreak</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" class="container">
	<h1>Boardbreak!</h1>
</header><!-- /header -->

<div id="wrapper" class="container">
<%= yield %>

</div>


</body>
</html>
